/* Enter your custom styles here */

.sap-xp-backgroundImage {
    background-image: url("../images/sapbtpexperience.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.sap-xp-StandardButton > span{
    background-color: #EAECEE;
    color: #1D2D3E;
}
.sap-xp-StandardButton:hover > span{
    background-color: #EAECEE;
    color: #1D2D3E;
}
.sap-xp-rounding{
    border-radius: 0.75rem;
}

.sap-xp-labelBaseFontSize{
    font-size: 1rem;
}
