/* Enter your custom styles here */

.sap-xp-backgroundImage {
    background-image: url("../images/sapbtpexperience.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.sap-xp-rounding{
    border-radius: 0.75rem;
}

.sap-xp-labelBaseFontSize{
    font-size: 1rem;
}
